<%-include('./includes/head') %>
    <%-include('./includes/nav') %>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg8 my-3"></div>
                <div class="row">
                    <h1>Faça login ou cadastre-se:</h1>
                    <%-include('./includes/messages') %>
                    <div class="col-md-6">
                        <h5>Cadastro:</h5>
                        <p>Se ainda não possui uma conta, cadastre-se.</p>
                        <form method="post" action="/login/register">
                            <div class="mb-3">
                                <label class="form-label">Nome:</label>
                                <input type="text" class="form-control" name="nome">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Nome da Loja:</label>
                                <input type="text" class="form-control" name="nomeLoja">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Breve descrição da loja:</label>
                                <input type="text" class="form-control" name="descricaoLoja">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">E-mail:</label>
                                <input type="email" class="form-control" name="email">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Senha:</label>
                                <input type="password" class="form-control" name="password">
                            </div>

                             <div class="mb-3">
                                <label class="form-label">Repetir Senha:</label>
                                <input type="password" class="form-control" name="password2">
                            </div>

                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                        </form>
                    </div>


                    <div class="col-md-6">
                        <h5>Login:</h5>
                        <p>Se possui uma conta, faça login.</p>
                        <form method="post" action="/login/login">
                            <div class="mb-3">
                                <label class="form-label">E-mail</label>
                                <input type="email" class="form-control" name="email">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Senha</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Entrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


<%-include('./includes/footer') %>